header {
    margin-top: 10px;
}

input, select {
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

select:focus {
    border-color: #0668d1;
}

input:focus {
    border-color: #0668d1;
}

.add-btn {
    background-color: #0668d1;
    padding: 14px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #064281;
}

li {
    background-color: #ccc;
    min-width: 300px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
}

.income {
    background-color: rgba(21, 143, 21, 0.555);
}

.expense {
    background-color: rgba(190, 23, 23, 0.815);
}